body {
  background: var(--background-1, linear-gradient(180deg, #EBEBE9 0%, #EDEDEB 100%));
}

.header {
  background: var(--background-1, linear-gradient(180deg, #EBEBE9 0%, #EDEDEB 100%));
  padding: 30px 0px 10px 0px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center
  }

}

.navigation__list {
  display: flex;

  &-item {
    padding: 11px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    white-space: nowrap;
    text-transform: uppercase;

  }

  &-link {
    color: var(--buttons-text-color-default, #292929);
    font-family: Roboto;
    font-size: 20px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
  }

}