/* section.css */


.section__text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  padding-left: 728px;
  padding-top: 12px;
}

.text__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.text__lorem {
  text-align: left;
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  width: 590px;
  z-index: 10;
}

.read__button {
  display: flex;
  height: 45px;
  padding: 11px 32px;
  justify-content: center;
  gap: 10px;
  border: none;
  background: var(--background-1, linear-gradient(180deg, #ebebe9 0%, #ededeb 100%));
}

.button__text {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  padding-right: 313px;
  cursor: pointer;
  padding-bottom: 38px;
}

